.node {
  fill: #b3d8ff;

  &:hover, &.selected {
    stroke: #409EFF;
  }
}
.port {
  fill: #409EFF;
}
.text {
  fill: #409EFF;
  text-anchor: middle;
  dominant-baseline: middle;
}

.line {
  stroke: #b3d8ff;
  stroke-width: 2px;

  &.selected {
    fill: #409EFF;
    stroke-width: 3px;
  }
}

.marker {
  fill: #409EFF;
}